.dropzone
{
    border: 2px dashed #0087F7 !important;
    border-radius: 5px;
    background: white;
    height: 80%;
}

.main-grid
{
    height: 100%;
}

.uk-height-mini {
  height: 75px;
}

.footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
}