<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<meta http-equiv="refresh" content="5" >-->
  <title>pyFile Uploader</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dropzone.css') }}"/>
  <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
</head>
<body>
  <div class="uk-tile-primary">
    <ul class="uk-breadcrumb uk-padding-small">
      <!--List of current path-->
      {% block breadcrumbs %}{% endblock %}
      <!-- -->
    </ul>
    <div class="uk-grid">
        <div class="uk-width-3-4">
            <progress class="uk-progress {{ freeSpacePerc.style }}" value="{{freeSpacePerc.used / freeSpacePerc.total * 100}}" max="100"></progress>
        </div>
        <div  class="uk-width-1-4">
            {{ freeSpacePerc.free }} Mb FREE / {{ freeSpacePerc.total }} Mb TOTAL
        </div>
    </div>
  </div>
  <div class="uk-grid main-grid">
    <div class="uk-width-3-4">
      <!-- file browser block -->
        {% block filebrowser %}{% endblock %}
      <!-- end -->
    </div>
    <div class="uk-width-1-4">
      <!-- block for creating folder -->
      <div class="uk-margin">
        <form action='{{ url_for("Action", path=path, action='CreateFolder') }}' method='POST' role="form">
            <input name="foldername" class="uk-input" type="text" placeholder="Folder name">
            <div class="uk-text-center">
                <button class="uk-button uk-button-primary" type="submit">Create folder</button>
            </div>
        </form>
      </div>
      <!-- end -->
      <!-- block for uploading files -->
      <form action='{{ url_for("Action", path=path, action='Upload') }}' class="dropzone dz-clickable" enctype="multipart/form-data">
        <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
      </form>
      <input multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;" type="file">
      <!-- end -->
    </div>
  </div>
  <div class="uk-card-primary uk-margin-auto footer">
        <a href="" uk-icon="icon: github-alt">Source </a>
  </div>
</body>
</html>
