<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{title}}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/uikit.min.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src="{{ url_for('static', filename='js/uikit.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dropzone.js') }}"></script>
  {% block head %}{% endblock %}
</head>
<body>
  <div class="uk-grid">
    <div class="uk-width-3-4">
      {% block tablecontent %}{% endblock %}
    </div>
    <div class="uk-width-1-4">
      {% block filedropzone %}{% endblock %}
    </div>
  </div>
</body>
</html>