{% extends "base.html" %}
{% block tablecontent %}
<table class="uk-table">
    <caption>Files</caption>
    <thead>
        <tr>
            <th>Name</th>
            <th>Mime type</th>
            <th>Size, mb</th>
            <th>Date modifided</th>
        </tr>
    </thead>
    <tbody>
    {% block content %}{% endblock %}
    </tbody>
</table>
{% endblock %}

{% block filedropzone %}
<div id="dropzone">
    <form action="/" class="dropzone needsclick dz-clickable dz-started uk-card uk-card-primary" enctype="multipart/form-data"></form>
</div>
{% endblock %}